{% extends "base_generic.html" %}
{% block content %}
<div id="parent">
<div style="width: 50%; height: 50%; float:left;">
            <h3>Properties</h3>
            {% load mptt_tags %}
            <ul>
                {% recursetree property_base_list %}
                    <li>
                        <a href="{{ node.get_absolute_url }}">{{ node }}</a>
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>

            <form action="../properties/new">
                <input type="submit" value="Add New Property" />
            </form>
</div>
<div style="width: 50%; height: 50%; float:right;">
               <h3>Name: {{ property_base.name }}</h3>

              <p><strong>Species:</strong> {{ property_base.species }}</p>
              <p><strong>Type:</strong> {{ property_base.type }}</p>
              {% if property_base.type == "F" %}
                <p><strong>Max:</strong> {{ property_base.maxVal }}</p>
                <p><strong>Min:</strong> {{ property_base.minVal }}</p>
              {% elif property_base.type == "C" %}
                <p><strong>Choices:</strong></p>
                <ul>
                  {% for opt in property_base.options.all %}
                    <li>
                      {{ opt.name }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}


            <form action={{ property_base.get_search_url }}>
                <input type="submit" value="Search" />
            </form>

            <form action={{ property_base.get_delete_url }}>
                <input type="submit" value="Delete" />
            </form>
</div>
</div>


{% endblock %}