{% extends "base_generic.html" %}

{% block content %}
    <h3>Properties</h3>

    {% load mptt_tags %}
    <ul>
        {% recursetree property_base_list %}
            <li>
                <a href="{{ node.get_absolute_url }}">{{ node }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

            <form action="../properties/new">
                <input type="submit" value="Add New Property" />
            </form>

{% endblock %}