html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  margin: 0;    
  padding: 20px 0; 
  background-color: #D7E7F3;
  font-size: 60px;
  text-align: center;
}

h2 {
  margin: 0;  
  padding: 10px 0 10px 0; 
  background-color: #CCCCCC;
  font-size: 40px;
  text-align: center;
}

body {
  width: 1850px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
}

h3 {
  background-color: #E5044F
  font-size:  25px;
  text-align: left;
}

p, li {
  background-color: #60C954
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
}